<div class="container mr-5">
    <h1>Test Errors</h1>
    <button (click)="notFound404()" class="btn btn-outline-primary mr-2">Not Found 404</button>
    <button (click)="serverError500()" class="btn btn-outline-primary mr-2">Server Error 500</button>
    <button (click)="badRequest400()" class="btn btn-outline-primary mr-2">BadRequest 400</button>
    <button (click)="badRequestValidationError400()" class="btn btn-outline-primary mr-2">BadRequest 400 Validation Error</button>
</div>

<ul class="text-danger mt-5">
    <li *ngFor="let error of validationErros">{{error}}</li>
</ul>